*{
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f1ecea;
    margin: 20px;
    padding: 10px;
    color: white;
}

.texto{
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding: 5px 25px;
    color: #fff;   
}

#contenedor{

    width: 90%;

    background-color: #dee0b7;
    max-width: 0 auto;
    border-radius: 5px;

}

.lista-aside li{
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 0 50px;
    color: #fff;
    list-style-type: disc;
    list-style-position: inside;
}





#contenido{

    width: 64%;
    height: 70%;
    background-color: #362f2f;  
    text-align: center;
    display: inline-block;

}



#header{
    padding: 50px;
    background-color: aquamarine;
    text-align: center;
    height: 15%;
    background-color: #3a251c ;
}

#nav{
    display: flex;
    flex-direction: row;
    height: 5%;
    background-color: #b46424;
    text-align: center;
}

nav a{
    color: white;
    padding: 14px 20px;
    text-decoration: none;
}

.row{
    display: flex;
    flex-wrap: wrap; 
}

aside{
    padding: 20px;
    flex: 30px;
    width: 80%;
   
    vertical-align: top;
    background-color: #b58c7c;
    display: inline-block;
}

section{
    background-color: khaki;
    flex: 70%;
    padding: 20px;
}

footer{
    font-size: 30px;
    height: 10%;
    background-color: #3a251c;
    margin: 2px;
    text-align: center;
    padding: 5px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 700px) {
    nav,.row{
        flex-direction: column;
    }

    body{background-color: black;}
    
}

ul{

    text-align: center;
    padding: 10px;

}

li{

    display: inline;
    padding: 10px 20px;
    margin: 1em;
    font-size: 20px;

}

li a:hover{

    color: red;
    text-decoration: none;
    list-style: none;
    
}

img{

    width: 100px;
    height: 100px;
    border-radius: 2px;
    margin: 0 0 5px 5px;
    justify-items: center;
    border-color: #fff;
    border: 3px solid;
}