/* Selector Universal */

*{
    padding: 0;
    margin: 0;
}

/* Selector de etiqueta */

body{
    background-color: #deb887;
    color: ghostwhite;

}

/* Selector de clase */

.texto{
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 5px 25px;
    color: #000;
}

.img {
    width: 100px;
    border-radius: 5px;
    justify-items: center;
}

.encabezado-articulo {
    padding: 10px;
    text-align: center;
    background-color: rgb(83, 152, 87);
    color: rgb(255, 255, 255);
    margin: 1em 2em;
    border-radius: 5px;
}

.encabezado-aside {
    padding: 10px 10px;
    text-align: center;
    background-color: greenyellow;
    color: white;
    margin: 1em 2em;
}

.menu-aside {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    font-size: 20px;
    padding: 0, 25px;
}

.lista-aside {
    padding: 10px;
}

.lista-aside li {
    display: flex;
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding: 0 2px;
    list-style: square;
    color: #000;
}

/* Selector ID */
#contenedor {
    width: 60%;
    
    background-color: #dee0b7;
    max-width: 0 auto;
    border-radius: 5px;
}

#encabezado {
    width: 15%;
    background-color: #6c844e;
    margin: 1em;
    border-radius: 5px;
    padding: 0 50px;
    text-align: center;
}

#menu {
    height: 5%;
    background-color: #7e815b;
    margin: 1em;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
}

#contenido {
    height: 75%;
    width: 58%;
    background-color: #b5bf9a;
    margin: 0.5em;
    display: inline-block;
    border-radius: 5px;
    text-align: center;

    flex: 30%;
}

#fueraSeccion {
    flex: 70px;
    width: 70%;
    padding: 20px;

    display: inline-block;
    vertical-align: top;
    border-radius: 5px;
    background-color: aquamarine;
}

#pie {
    height: 10%;
    background-color: greenyellow;
    margin: 1.5em;
    text-align: center;
    padding: 5px;
}

#pie h4 {
    padding: 15px;
    font-size: 30px;
}

/* Selector de etiqueta */

ul {
    text-align: center;
    padding: 10px;
}

li {
    display: inline;
    padding: 10px 30px;
    margin: 3em;
}

li a:hover {
    color: crimson;
    text-decoration: none;
    list-style: none;
}

.row{
    display: flex;
    flex-wrap: wrap; 
}

@media screen and (max-width: 700px) {
    #menu,.row{
        flex-direction: column;
    }

    body{background-color: black;}
    
}