*{
    box-sizing: border-box;
}

body{
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#cabezera {
    
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    text-align: center;
    background-color: rgb(254, 131, 0);
    height: 10%;
    width: 100%;
}

#indice{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: rgb(62, 7, 114);
    width: 90%;
    color: blanchedalmond;
    
}

#contenedor {
    width: 90%;
    border-radius: 5px;
    background-color: crimson;
    background-image: url(/img/logogears.jfif);
}

#contenido{
    width: 60%;
    flex: 70%;
    padding: 20px;
    display: inline-block;
    background-color: brown;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-style: solid;
    text-align: justify;
    margin: 10px;
    margin-right: 15px;
}

#contenido2{
    display: inline-block;
    width: 90%;
    background-color: rgb(36, 36, 88);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-style: solid;
    margin: 25px;
    flex: 85%;
}

#horda{
    width: 20%;
    text-align: left;
    justify-items: center;
    display: inline-table;
    margin: 20px;
}

#img-historia {
    width: 250px;
    height: 225px;
}

#img-horda {
    width: 200px;
    height: 200px;
}



.img-aside{
    width: 300px;
    height: 300px;
    border-radius: 2px;
    margin: 0 0 10px 10px;
    border: 3px solid;
    display: inline;
}

.fueraSeccion {
    margin-top: 10px;
    margin-right: 10px;
    width: 35%;
    padding: 20px;
    justify-items: center;
    vertical-align: top;
    background-color: darkred;
    border-style: solid;
    text-align: center;
    float: right;
    clear: right;
    flex: 30px;
}

.encabezado-section{
    font-weight: bolder;
    font-size: large;
    text-align: center;
    text-decoration: double;
}

ul{
    text-align: center;
    list-style: none;
}



.li-indice{
    display: inline;
    padding: 10px 20px;
    margin: 1em;
    font-size: 20px;
}

li a{
    color: aliceblue;
    text-decoration: none;
}

li a:hover{

    color: red;
    list-style: none;
    
}

.header-section{
    text-align: center;
    font-style: italic;
    
}

@media screen and (max-width: 1150px) {
    #indice,.row{
        flex-direction: column;
    }

    body{background-color: black;}
    
}

.row{
    display: flex;
    flex-wrap: wrap; 
}